.container .card{
    text-align: center;
    margin: auto;

}
table{
    width: 50%;
    background-color: bisque;
    text-align: center;
    margin: auto;
}
h1{
    margin-top: 10px;
}